@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-color:#FA7D09;
    
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff4301;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4a3f35;
}


ul {
    position: fixed;
    top: 0;
    width: 100%;
  }

 .titulo{
    display: block;
    float: left;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
 }
 
 .conteudo{
    margin: 200px; 
    padding:0px;
    color:white
 }
 
 .h1{
    
 }


