@charset "UTF-8";


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff4301;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4a3f35;
  }
  
  
  ul {
      position: fixed;
      top: 0;
      width: 100%;
    }
  
   .titulo{
      display: block;
      float: left;
      color: white;
      text-align: right;
      padding: 14px 16px;
      text-decoration: none;
   }

.box1-1{
    display: flex;
    flex-direction: row;
    margin: 0; 
    justify-content: space-evenly;   
}

.imagem-box-1-1{
    height: 432px;
    width: 468px;
    left: 895px;
    top: 165px;
    border-radius: 0px;
    
    
}   
.box1-2{
    display: flex;
    flex-direction: row;
    margin: 0; 
    justify-content: space-evenly;   
}
.imagem-box-1-2{
    height: 770.8048095703125px;
    width: 437px;
    left: 228px;
    top: 774px;
    border-radius: 0px;
    
} 
.box2-1{
    display: flex;
    flex-direction: row;
    margin: 0; 
    justify-content: space-evenly;   
}
.imagem-box2-1-1{
    height: 998.8571166992188px;
    width: 437px;
    left: 945px;
    top: 1469px;
    border-radius: 20px;
    
} 
.box2-2{
    display: flex;
    flex-direction: row;
    margin: 0; 
    justify-content: space-evenly;   
}
.imagem-box-2-2-1{
    margin: 0;
    height: 432px;
    width: 468px;
} 
.imagem-box-2-2-2{
    margin: 0;
    height: 432px;
    width: 468px;
} 
.imagem-box-2-2-3{
    margin: 0;
    height: 432px;
    width: 468px;
} 
.box3-1{
    display: flex;
    flex-direction: row;
    margin: 0; 
    justify-content: space-evenly;   
}
.imagem-box-3-1-1{
    margin: 0;
    height: 432px;
    width: 468px;
} 
.box3-2{
    display: flex;
    flex-direction: row;
    margin: 0; 
    justify-content: space-evenly;   
}
.imagem-box-3-2-1{
    margin: 0;
    height: 432px;
    width: 468px;
} 
.box3-3{
    display: flex;
    flex-direction: row;
    margin: 0; 
    justify-content: space-evenly;   
}
.imagem-box-3-3-1{
    margin: 0;
    height: 432px;
    width: 468px;
} 
.imagem-box-3-3-2{
    margin: 0;
    height: 432px;
    width: 468px;
} 
body{
    background-color: #FA7D09;
    margin: auto;
    text-align: left and right;
}
.esquerdaTxt{
    margin: 150px;
}
.direitaTxt{
    margin: 150px;
}
.esquerda{
    margin:0px
}
.direita{
    margin:0px
}